
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body{
    font-family: 'Raleway', sans-serif;
}

@import "./normalize";
@import "./fonts";
@import "./varibales";
@import "./container";